{% load static %}

<head>
	<link href="{% static "chatio/example/favicon.ico" %}" rel="icon" type="image/x-icon" />
</head>

<body>
	<ul class="list-group">
		{% for room in rooms %}
			<li class="list-group-item" id="roomgroup-{{room}}">
				<button class="btn room-connect" id="roomgroupbtn-{{room}}" data-room="{{room}}">{{room}}</button>
			</li>
		{% empty %}
			<p>No Chatrooms defined. Create some in the admin?</p>
		{% endfor %}
	</ul>

</body>

<footer>

	{% include "chatio/chatiosnippet.html" %}
	<script type="text/javascript" src="{% static "chatio/example/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "chatio/example/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "chatio/example/bootstrap-theme.min.css" %}">
	<script type="text/javascript" src="{% static "chatio/example/chatexample.js" %}"></script>
	
</footer>